<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <link rel='stylesheet' href='<%= context.publicPath %>/dist/xspreadsheet.css' /> 
  <script src="<%= context.publicPath %>/dist/xspreadsheet.js"></script>
</head>
<body style="overflow: hidden;">
  <div id="root">

  </div>
</body>
</html>